*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* primary colors */
    --violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    /* Neuraal colors */
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --fs: 14px;
    --font-f: font-family: 'Barlow Semi Condensed', sans-serif;
}

html {
    font-size: var(--fs);
    background-color: var(--light-grayish-blue);
    font-family: var(--font-f);
}

img {
    border-radius: 30px;
    border: 3px solid var(--violet);
    width: 25px;
    height: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name-title-div {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.name {
    opacity: 100%;
    font-size: 1.1rem;
}

title {
    opacity: 50%;
    font-size: 0.9rem;
}

.bigger-text {
    font-weight: 600;
    margin-top: 15px;
    font-size: 1.2rem;
}

.smaller-text {
    font-weight: 500;
    opacity: 70%;
    /* margin-top: 5px; */
}

.left-top-side {
    display: flex;
    flex-direction: column;
}

.left-bottom-side {
    display: flex;
    flex-direction: column;
}

.left-top-side .card-0 {
    background: var(--violet);
    color: var(--white);
    flex-basis: 70%;
}

.left-top-side .card-1 {
    flex-basis: 30%;
    background-color: var(--very-dark-grayish-blue);
    color: var(--white);
}

.left-bottom-side .card-0 {
    background-color: var(--very-dark-grayish-blue);
    color: var(--white);
    flex-basis: 30%;
}

.left-bottom-side .card-1 {
    background-color: var(--very-dark-blackish-blue);
    color: var(--white);
    flex-basis: 70%;
}

.left-bottom-side .card-0 .name-title-div {
    color: var(--very-dark-blackish-blue);
}

.right-side .card-0 .name-title-div {
    color: var(--very-dark-blackish-blue);
}

.right-side .card-0 {
    background-color: var(--white);
    color: var(--very-dark-grayish-blue);
}

.card-0,
.card-1 {
    padding: 20px;
    margin-top: 22px;
    border-radius: 10px;
}

address .attribution a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:738px) {
    .container {
        flex-direction: row;
        margin: 5% 15%;
        max-width: 1440px;
        max-height: 900px;
    }
    .left-top-side {
        flex-direction: row;
    }
    .left-top-side .card-1 {
        margin-left: 20px;
    }
    .left-bottom-side {
        flex-direction: row;
    }
    .left-bottom-side .card-1 {
        margin-left: 20px;
    }
    .right-side .card-0 {
        height: 100%;
    }
    .left-side {
        flex-basis: 75%;
    }
    .right-side {
        flex-basis: 25%;
        margin-left: 20px;
    }
}