/* Reset */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* variables */

:root {
    /* primary colors */
    --violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    /* Neuraal colors */
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --fs: 14px;
    --font-f: font-family: 'Barlow Semi Condensed', sans-serif;
}


/* Base styles */

html {
    font-size: var(--fs);
    background-color: var(--light-grayish-blue);
    font-family: var(--font-f);
}

img {
    border-radius: 30px;
    border: 3px solid var(--violet);
    width: 25px;
    height: 25px;
}


/*Utility styles */

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}


/* Mobile styles */

.header_text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-name {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.person-name {
    opacity: 100%;
    font-size: 1.1rem;
}

.status {
    opacity: 50%;
    font-size: 0.9rem;
}


/* first-content */

.paragraph_1 {
    font-weight: 600;
    margin-top: 15px;
    font-size: 1.2rem;
}

.paragraph_2 {
    font-weight: 500;
    opacity: 70%;
    /* margin-top: 5px; */
}

.first-content_details {
    display: flex;
    flex-direction: column;
}

.first-content_details .article-2 {
    flex-basis: 30%;
    background-color: var(--very-dark-grayish-blue);
    color: var(--white);
}

.first-content_details .article-1 {
    background: var(--violet);
    color: var(--white);
    flex-basis: 70%;
}


/* second-content */

.second-content {
    display: flex;
    flex-direction: column;
}

.second-content .article-1 {
    background-color: var(--very-dark-grayish-blue);
    color: var(--white);
    flex-basis: 30%;
}

.second-content .article-2 {
    background-color: var(--very-dark-blackish-blue);
    color: var(--white);
    flex-basis: 70%;
}

.second-content .article-1 .title-name {
    color: var(--very-dark-blackish-blue);
}


/* third-content */

.third-content .article-1 .title-name {
    color: var(--very-dark-blackish-blue);
}

.third-content .article-1 {
    background-color: var(--white);
    color: var(--very-dark-grayish-blue);
}

.article-1,
.article-2 {
    padding: 1.25rem;
    margin-top: 1.5rem;
    border-radius: 10px;
}


/* attribution */

.attribution {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 11px;
    /* margin-left: 10rem; */
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* Desktop styles */

@media (min-width:738px) {
    .container {
        flex-direction: row;
        margin: 5% 15%;
        max-width: 1440px;
        max-height: 900px;
    }
    .first-content_details {
        flex-direction: row;
    }
    .first-content_details .article-2 {
        margin-left: 20px;
    }
    .second-content {
        flex-direction: row;
    }
    .second-content .article-2 {
        margin-left: 20px;
    }
    .third-content .article-1 {
        height: 100%;
    }
    .first-content {
        flex-basis: 75%;
    }
    .third-content {
        flex-basis: 25%;
        margin-left: 20px;
    }
}